#one{
    
    margin: 10px;
    margin-left: 20px;
    
    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size:larger;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 197, 88);
}

#two{
    margin: 10px;
    color:  rgb(255, 0, 0);

    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size:larger;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(89, 194, 98);
  
}

#three{
    margin: 10px;
    color: rgb(255, 0, 0);

    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size:larger;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(109, 245, 245);
}

#four{
    margin: 10px;
    color: rgb(255, 0, 0);

    border-radius: 25px;
    color: rgb(0, 0, 0);
    font-size:larger;
    color: rgb(0, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(253, 115, 97);
}

