.family-dash-board{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.side-bar{
  height: 100%;
  width: 250px;
  background-color: gold;
}

.side-bar-list{
  height: auto;
  padding: 0;
  width:100%;
}

.side-bar-list .row-item{
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 2px;
}

.side-bar-list .row-item:hover{
  cursor: pointer;
  background-color: rgb(211, 179, 3);
}

.side-bar-list #row-active{
  background-color: rgb(211, 179, 3);
  font-style: italic; 
}


